:root {
    --blue: #0d6efd;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #d63384;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #198754;
    --teal: #20c997;
    --cyan: #0dcaf0;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
}

.bg-blue {
    background: var(--blue);
}

.bg-indigo {
    background: var(--indigo);
}

.bg-purple {
    background: var(--purple);
}

.bg-pink {
    background: var(--pink);
}

.bg-red {
    background: var(--red);
}

.bg-orage {
    background: var(--orage);
}

.bg-yellow {
    background: var(--yellow);
}

.bg-green {
    background: var(--green);
}

.bg-teal {
    background: var(--teal);
}

.bg-cyan {
    background: var(--cyan);
}

.bg-white {
    background: var(--white);
}

.bg-gray {
    background: var(--gray);
}

.bg-gray-dark {
    background: var(--gray-dark);
}

.text-blue {
    color: var(--blue);
}

.text-indigo {
    color: var(--indigo);
}

.text-purple {
    color: var(--purple);
}

.text-pink {
    color: var(--pink);
}

.text-red {
    color: var(--red);
}

.text-orage {
    color: var(--orage);
}

.text-yellow {
    color: var(--yellow);
}

.text-green {
    color: var(--green);
}

.text-teal {
    color: var(--teal);
}

.text-cyan {
    color: var(--cyan);
}

.text-white {
    color: var(--white);
}

.text-gray {
    color: var(--gray);
}

.text-gray-dark {
    color: var(--gray-dark);
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-around {
    justify-content: space-around;
}

.align-items-center {
    align-items: center;
}

.align-self-center {
    align-self: center;
}

.shadow {
    box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
}

.p-0 {
    padding: 0;
}

.p-1 {
    padding: .25rem;
}

.p-2 {
    padding: .5rem;
}

.p-3 {
    padding: 1rem;
}

.p-4 {
    padding: 1.5rem;
}

.p-5 {
    padding: 3rem;
}

.p-auto {
    padding: auto;
}

.m-0 {
    margin: 0;
}

.m-1 {
    margin: .25rem;
}

.m-2 {
    margin: .5rem;
}

.m-3 {
    margin: 1rem;
}

.m-4 {
    margin: 1.5rem;
}

.m-5 {
    margin: 3rem;
}

.m-auto {
    margin: auto;
}

.mt-0 {
    margin-top: 0;
}

.mt-1 {
    margin-top: .25rem;
}

.mt-2 {
    margin-top: .5rem;
}

.mt-3 {
    margin-top: 1rem;
}

.mt-4 {
    margin-top: 1.5rem;
}

.mt-5 {
    margin-top: 3rem;
}

.mt-auto {
    margin-top: auto;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: .25rem;
}

.mb-2 {
    margin-bottom: .5rem;
}

.mb-3 {
    margin-bottom: 1rem;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.mb-5 {
    margin-bottom: 3rem;
}

.mb-auto {
    margin-bottom: auto;
}

.mr-0 {
    margin-right: 0 !important;
}

.mr-1 {
    margin-right: .25rem !important;
}

.mr-2 {
    margin-right: .5rem !important;
}

.mr-3 {
    margin-right: 1rem !important;
}

.mr-4 {
    margin-right: 1.5rem !important;
}

.mr-5 {
    margin-right: 3rem !important;
}

.mr-auto {
    margin-right: auto !important;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.border {
    border: 1px solid var(--gray);
}