:root {
    --blue-gray	:	#64748B;
    --cool-gray	:	#6B7180;
    --gray		:	#71717A;
    --true-gray	: 	#737373;
    --warm-gray	:	#78716C;
    --red		: 	#EF4444;
    --orange	:	#F97316;
    --amber		:	#F59E0B;
    --yellow	:	#EAB308;
    --lime		: 	#84CC16;
    --green		: 	#22C55E;
    --emarald	: 	#10B981;
    --teal		: 	#14B8A6;
    --cyan		: 	#06B6D4;
    --light-blue: 	#0EA5E9;
    --blue		: 	#3B82F6;
    --indigo	: 	#6366F1;
    --violet	: 	#8B5CF6;
    --fuchsia	:	#D946EF;
    --pink		:	#EC4899;
    --rose		:	#F43F5E;
}

html {
    scroll-behavior: smooth;
}

.bg-cool-gray {
    background: var(--cool-gray);
    color: white;
}

.bg-gray {
    background: var(--gray);
    color: white;
}

.bg-true-gray {
    background: var(--true-gray);
    color: white;
}

.bg-warm-gray {
    background: var(--warm-gray);
    color: white;
}

.bg-red {
    background: var(--red);
    color: white;
}

.bg-orange {
    background: var(--orange);
    color: white;
}

.bg-amber {
    background: var(--amber);
    color: white;
}

.bg-yellow {
    background: var(--yellow);
    color: white;
}

.bg-lime {
    background: var(--lime);
    color: white;
}

.bg-green {
    background: var(--green);
    color: white;
}

.bg-emarald {
    background: var(--emarald);
    color: white;
}

.bg-teal {
    background: var(--teal);
    color: white;
}

.bg-cyan {
    background: var(--cyan);
    color: white;
}

.bg-light-blue {
    background: var(--light-blue);
}

.bg-blue {
    background: var(--blue);
    color: white;
}

.bg-indigo {
    background: var(--indigo);
    color: white;
}

.bg-violet {
    background: var(--violet);
    color: white;
}

.bg-fuchsia {
    background: var(--fuchsia);
    color: white;
}

.bg-pink {
    background: var(--pink);
    color: white;
}

.bg-rose {
    background: var(--rose);
    color: white;
}

.bg-white {
    background: white;
}

.d-flex {
    display: flex;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-around {
    justify-content: space-around;
}

.align-items-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.align-self-center {
    align-self: center;
}

.shadow {
    box-shadow: 5px 10px 15px rgba(0, 0, 0, .2);
}

.scrool-active {
    background: var(--blue);
}

.navbar-inverse {
    border: none;
    background: #010615;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-inverse .navbar-toggle {
    border-color: white;
}

.navbar-inverse .navbar-toggle:focus {
    background: #010615;
}

.navbar-inverse .navbar-brand {
    font-size: 20px;
    letter-spacing: 2px;
}

.navbar-inverse .navbar-brand, 
.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {
    color: white;
    background: none;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border: none;
}

.nav > li > form > button {
    /* margin-left: 10px; */
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: transparent;
    border: none;
    border-color: none;
    color: white;
}

.about {
    /* background: linear-gradient(180deg, var(--blue), var(--cyan) ); */
    background: #010615;
    color: white;
}

.about .container .row#row {
    height: 100vh;
}

.about .container .row .col-md-6:nth-child(1) {
    text-align: justify;
}

.about .container .row .col-md-6:nth-child(1) p {
    animation: main_text .8s ease-in-out forwards;
}

.about .container .row#row .col-md-6 .text-jumbotron {
    font-size: 6rem;
    letter-spacing: 5px;
    font-weight: 700;
}

.about .container .row .col-md-6 .row#btn {
    animation: main_btn 1.5s ease-in-out forwards;
}

.about .container .row .col-md-6 .row#btn .btn {
    background: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 70px;
    padding-right: 70px;
    border: 2px solid white;
    color: white;
    text-decoration: none;
    letter-spacing: 8px;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 0 10px 10px 20px ;
    /* box-shadow: 10px 10px 10px rgba(0, 0, 0, .1); */
}

.about .container .row .col-md-6:nth-child(2) {
    align-items: flex-end;
}

.about .container .row .col-md-6 .row#btn .btn:hover {
    background: var(--rose);
    transform: translateY(-10px);
    transition: .5s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 10px 15px 15px rgba(199, 0, 99, 0.705);
}

.about .container .row .col-md-6 .row#btn .btn.sign-up:hover  {
    background: var(--cyan);
    box-shadow: 10px 15px 15px rgba(4, 166, 172, 0.527);
}

.about .container .row .col-md-6 .row#sub-row {
    background: #010615;
}

.about .container .row .col-md-6 .row .col-md-9 {
    align-self: flex-end;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, .5);
    animation: glass_slide 2.5s ease forwards;
}

.about .container .row .col-md-6 .row .col-md-9:nth-child(1) { 
    border-radius: 10px 10px 0 0;
}

.about .container .row .col-md-6 .row .col-md-9:nth-child(3) { 
    border-radius: 0 0 10px 10px;
}

.about .container .row .col-md-6 .row#sub-row .col-md-9:hover { 
    transform: translateY(-10px);
}
.about .container .row .col-md-6 .row#sub-row .col-md-9:nth-child(1):hover {
    background: linear-gradient(45deg, var(--red), var(--yellow));
}

.about .container .row .col-md-6 .row#sub-row .col-md-9:nth-child(2):hover {
    background: linear-gradient(45deg, var(--cyan), var(--violet));
}

.about .container .row .col-md-6 .row#sub-row .col-md-9:nth-child(3):hover {
    background: linear-gradient(45deg, var(--pink), var(--blue));
}

.about .container .row .col-md-6 .row .col-md-9 .row .col-md-3 svg{ 
    height: 40px;
    width: 40px;
    fill: white;
}

.pembangunan .container {
    margin-top: 100px;
    margin-bottom: 100px;
}

.pembangunan .container .row .col-md-3 {
    border-radius: 20px;
    padding: 50px;
    color: white;
    margin: 30px;
    height: 250px;
    text-align: center;
}

.pembangunan .container .row .col-md-3:nth-child(1) {
    background: var(--amber);
}

.pembangunan .container .row .col-md-3:nth-child(2) {
    background: var(--red);
}

.pembangunan .container .row .col-md-3:nth-child(3) {
    background: var(--fuchsia);
}

.pembangunan .container .row .col-md-3:hover {
    color: black;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, .5);
    transition: .4s ease;
}

.pembangunan .container .row .col-md-3:hover:nth-child(1) {
    background: white;
    -webkit-transition: background .2s;
}

.pembangunan .container .row .col-md-3:hover:nth-child(2) {
    background: white;
    -webkit-transition: background .2s;
}

.pembangunan .container .row .col-md-3:hover:nth-child(3) {
    background: white;
    -webkit-transition: background .2s;
}

.pembangunan .container .row .col-md-3 .card .card-header svg {
    height: 100px;
    width: 100px;
    fill: white;
}

.pembangunan .container .row .col-md-3:hover .card .card-header svg {
    fill: black;
    -webkit-transition: fill .2s;
}

.pembangunan .container .row .col-md-3:hover .card .card-body hr {
    border-color: black;
}

.pelayanan {
    background-image: url(../images/bg/bg-1.png);
    background-size: cover;
    background-position: center;
}

.pelayanan .container .text-center{
    color: white;
}

.pelayanan .container .row .col-md-3 {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    /* height: 100px; */
}

.pelayanan .container .row .col-md-3:hover {
    transform: translateY(-10px);
    color: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .2);
    transition: .2s ease-in-out;
}

.pelayanan .container .row .col-md-3:hover:nth-child(1) {
    background: var(--red);
}

.pelayanan .container .row .col-md-3:hover:nth-child(2) {
    background: var(--blue);
}

.pelayanan .container .row .col-md-3:hover:nth-child(3) {
    background: #EAB308;
}

.pelayanan .container .row .col-md-3:hover:nth-child(4) {
    background: var(--fuchsia);
}

.pelayanan .container .row .col-md-3:hover:nth-child(5) {
    background: var(--orange);
}

.pelayanan .container .row .col-md-3:hover:nth-child(6) {
    background: var(--emarald);
}

.pelayanan .container .row .col-md-3:hover:nth-child(7) {
    background: #8B5CF6;
}

.pelayanan .container .row .col-md-3:hover:nth-child(8) {
    background: var(--green);
}

.pelayanan .container .row .col-md-3 .row .col-md-4 svg {
    height: 40px;
    width: 40px;
    fill: black;
}

.pelayanan .container .row .col-md-3:hover .row .col-md-4 svg {
    fill: white;
}

.testimoni {
    background: linear-gradient(90deg, var(--rose), var(--orange));
    color: white;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.testimoni .container .row .col-md-3 {
    padding: 1.5rem;
    background: rgba(0, 0, 0, .1);
    border-radius: 10px;
}

.testimoni .container .row .col-md-3 .box .content p {
    text-align: justify;
}

.testimoni .container .row .col-md-3 .box .content p span{
    font-size: 2em;
}

.testimoni .container .row .col-md-3:hover .box .content p span{
    color: var(--rose);
}

.testimoni .container .row .col-md-3:hover {
    background: #010615;
    transition: .5s ease-in-out;
    /* border-radius: 0px; */
    transform: translateY(-10px);
    box-shadow: 10px 20px 5px rgba(0, 0, 0, .1);
    border-left: 3px solid white;
    border-bottom: 3px solid white;
}

.testimoni .container .row .col-md-3 .box .glass {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    display: block;
    background: rgba(255, 255, 255, .1);
    -webkit-transition: width 1s ease-in-out;
}

.testimoni .container .row .col-md-3:hover .box .glass {
    width: 100%;
    transition: 1s ease-in-out;
}

.testimoni .container .row .col-md-3 .box .content svg {
    padding: 10px;
    height: 100px;
    width: 100px;
    fill: white;
}

.testimoni .container .row .col-md-3:hover .box .content svg{
    background: white;
    fill: black;
    border-radius: 50%;
    transition: .3s ease-in-out;
    border: 2px solid var(--rose);
}

.m-2 {
    margin: 10px;
}

.m-3 {
    margin: 1.5rem;
}

.mt-5 {
    margin-top: 3rem;
}

.mt-3 {
    margin-top: 1.5rem;
}

.my-5 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.my-5 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.mb-5 {
    margin-bottom: 3rem;
}

.p-3 {
    padding: 1.5rem;
}

.p-5 {
    padding: 3rem;
}

.pt-5 {
    padding-top: 3rem;
}

.py-5 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.rounded-1 {
    border-radius: 10px;
}

.text-white {
    color: white;
}

.product .container .row .col-md-3 {
    border-radius: 10px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, .2);
}

.product .container .row .col-md-3:hover {
    transition: .5s ease;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, .5);
}

.product .container .row .col-md-3:hover:nth-child(1) {
    background: var(--red);
    color: white;
}

.product .container .row .col-md-3:hover:nth-child(2) {
    background: var(--emarald);
    color: white;
}

.product .container .row .col-md-3:hover:nth-child(3) {
    background: var(--indigo);
    color: white;
}

.contact {
    background-image: url('../images/bg/bg-2.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.contact .container .row#row {
    height: 100vh;
    color: white;
    flex-direction: column;
}

.contact .container .row .col-md-6 hr{
    margin-top: 10px;
    margin-bottom: 10px;
}

.site-error {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    transition: 1s ease-in-out;
    background: #010615;
    border-radius: 10px;
    color: #fff;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .2);
    padding: 50px;
    margin-top: -70px;
    padding-bottom: 30px;
}

.site-error .glass {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    background: rgba(255, 255, 255, .1);
    z-index: 0;
    -webkit-transition: width .5s ease-in-out;
    margin-top: -70px;
}

.site-error:hover .glass {
    width: 100%;
    transition: .5s;
}

.site-error h1{
    font-size: 3.5rem;
}

.site-error p {
    margin: 10px;
}

.site-error .alert {
    width: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
    background: var(--red);
    color: white;
    font-size: 2rem;
    text-transform: capitalize;
    letter-spacing: 5px;
    border-radius: 10px;
    border: 1px solid white;
}

.site-error a {
    color: white;
    background: var(--lime);
    padding: 10px;
    border: 1px solid white;
    text-decoration: none;
    z-index: 999;
}

.site-error a:hover {
    background: white;
    color: black;
    transition: .4s ease-in-out;
    transform: translateY(-5px);
    border-color: black;
}

.container#dashboard .row .col-md-5:hover {
    transform: translateY(-10px);
    box-shadow: 15px 15px 15px rgba(0, 0, 0, .4);
}

.container#dashboard .row .col-md-8 .col-md-5 .card svg {
    fill: white;
    height: 40px;
    width: 40px;
}

.container#dashboard .row .col-md-8 .col-md-5 a {
    color: white;
    text-decoration: underline;
}

.container#dashboard .row:nth-child(1) {
    flex-direction: row-reverse;
}

.container#dashboard .row .col-md-4 {
    text-transform: none;
}

@media (max-width: 992px) {
    .about .container .col-md-6:nth-child(2) {
        overflow: hidden;
        opacity: 0;
        z-index: -10;
        margin-top: -50vh;
    }
    .pembangunan .container .row .col-md-3 {
        width: 50%;
    }

    .pelayanan .container .row .col-md-3 {
        width: 50%;
    }

    .site-login .container .row .col-md-4,
    .site-signup .container .row .col-md-4,
    .site-reset-password .container .row .col-md-4,
    .container .site-resend-verification-email .row .col-md-4,
    .container .site-request-password-reset .row .col-md-4,
    .container#dashboard .row .col-md-4,
    .container#dashboard .row .col-md-8 .col-md-5 {

        width: 50%;
    }

    .product .container .row .col-md-3 {
        width: 50%;
    }

    .site-error .alert {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .about .container .row#row .col-md-6 .text-jumbotron {
        font-size: 3rem;
    }

    .pembangunan .container .row .col-md-3 {
        width: 90%;
    }

    .pelayanan .container .row .col-md-3 {
        width: 90%;
        justify-content: center;
    }

    .site-login .container .row .col-md-4,
    .site-signup .container .row .col-md-4,
    .site-reset-password .container .row .col-md-4,
    .container .site-resend-verification-email .row .col-md-4,
    .container .site-request-password-reset .row .col-md-4,
    .container#dashboard .row .col-md-4,
    .container#dashboard .row .col-md-8 .col-md-5 {
        width: 90%;
    }

    .product .container .row .col-md-3 {
        width: 90%;
    }

    .site-error .alert {
        width: 90%;
    }
}

@keyframes main_text {
    0% {
        transform: translateX(-500px) scale(0.2);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}

@keyframes main_btn {
    0%{
        transform: translateX(500px) scale(0.2);
    }
    100%{
        transform: translateX(0px) scale(1);
    }
}

@keyframes glass_slide {
    0%{
        transform: translateY(-500px) scale(0.2);
    }
    100%{
        transform: translateY(0px) scale(1);
    }
}