:root {
    --blue-gray	:	#64748B;
    --cool-gray	:	#6B7180;
    --gray		:	#71717A;
    --true-gray	: 	#737373;
    --warm-gray	:	#78716C;
    --red		: 	#EF4444;
    --orange	:	#F97316;
    --amber		:	#F59E0B;
    --yellow	:	#EAB308;
    --lime		: 	#84CC16;
    --green		: 	#22C55E;
    --emarald	: 	#10B981;
    --teal		: 	#14B8A6;
    --cyan		: 	#06B6D4;
    --light-blue: 	#0EA5E9;
    --blue		: 	#3B82F6;
    --indigo	: 	#6366F1;
    --violet	: 	#8B5CF6;
    --fuchsia	:	#D946EF;
    --pink		:	#EC4899;
    --rose		:	#F43F5E;
}

html {
    scroll-behavior: smooth;
}

.bg-cool-gray {
    background: var(--cool-gray);
}

.bg-gray {
    background: var(--gray);
}

.bg-tru--true-gray {
    background: var(--true-gray);
}

.bg-warm--warm-gray {
    background: var(--warm-gray);
}

.bg-red {
    background: var(--red);
}

.bg-orange {
    background: var(--orange);
}

.bg-amber {
    background: var(--amber);
}

.bg-yellow {
    background: var(--yellow);
}

.bg-lime {
    background: var(--lime);
}

.bg-green {
    background: var(--green);
}

.bg-green {
    background: var(--green);
}

.bg-emarald {
    background: var(--emarald);
}

.bg-teal {
    background: var(--teal);
}

.bg-cyan {
    background: var(--cyan);
}

.bg-light-blue {
    background: var(--light-blue);
}

.bg-blue {
    background: var(--blue);
}

.bg-indigo {
    background: var(--indigo);
}

.bg-violet {
    background: var(--violet);
}

.bg-fuchsia {
    background: var(--fuchsia);
}

.bg-pink {
    background: var(--pink);
}

.bg-rose {
    background: var(--rose);
}

.bg-white {
    background: white;
}

.d-flex {
    display: flex;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-around {
    justify-content: space-around;
}

.align-items-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.align-self-center {
    align-self: center;
}

.shadow {
    box-shadow: 0px 10px 15px rgba(0, 0, 0, .1);
}

.navbar-inverse {
    border: none;
}

.navbar-inverse .navbar-toggle {
    border-color: white;
}

.navbar-inverse .navbar-toggle:focus {
    background: var(--blue);
}

.navbar-inverse .navbar-brand {
    font-size: 20px;
    letter-spacing: 2px;
}

.navbar-inverse .navbar-brand, 
.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {
    color: white;
    background: none;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border: none;
}

.navbar-nav {
    padding: 5px;
}

.navbar-nav > li.bg-green,
.navbar-nav > li.bg-cyan {
    border-radius: 10px;
    margin-right: 10px;
}

.navbar-nav > li > a {
    padding: 10px;
    align-self: center;
}

.nav > li > form > button {
    background-color: #EF4444;
    border-radius: 10px;
    padding: 10px;
    border: none;
    border-color: none;
    color: white;
}

.about {
    background: linear-gradient(180deg, var(--blue), var(--cyan) );
    color: white;
}

.about .container .row {
    height: 100vh;
}

.about .container .row .col-md-12 .text-jumbotron {
    font-size: 5rem;
    letter-spacing: 10px;
}

.pembangunan .container {
    margin-top: 100px;
    margin-bottom: 100px;
}

.pembangunan .container .row .col-md-3 {
    border-radius: 20px;
    padding: 50px;
    color: white;
    margin: 30px;
    height: 250px;
    text-align: center;
}

.pembangunan .container .row .col-md-3:nth-child(1) {
    background: var(--amber);
}

.pembangunan .container .row .col-md-3:nth-child(2) {
    background: var(--red);
}

.pembangunan .container .row .col-md-3:nth-child(3) {
    background: var(--fuchsia);
}

.pembangunan .container .row .col-md-3:hover {
    color: black;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, .5);
    transition: .4s ease;
}

.pembangunan .container .row .col-md-3:hover:nth-child(1) {
    background: white;
}

.pembangunan .container .row .col-md-3:hover:nth-child(2) {
    background: white;
}

.pembangunan .container .row .col-md-3:hover:nth-child(3) {
    background: white;
}

.pembangunan .container .row .col-md-3 .card .card-header svg {
    height: 100px;
    width: 100px;
    fill: white;
}

.pembangunan .container .row .col-md-3:hover .card .card-header svg {
    fill: black;
}

.pembangunan .container .row .col-md-3:hover .card .card-body hr {
    border-color: black;
}

.pelayanan {
    background-image: url(../images/bg/bg-1.png);
    background-size: cover;
    background-position: center;
}

.pelayanan .container .text-center{
    color: white;
}

.pelayanan .container .row .col-md-3 {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    /* height: 100px; */
}

.pelayanan .container .row .col-md-3:hover {
    transform: translateY(-10px);
    color: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .2);
    transition: .2s ease-in-out;
}

.pelayanan .container .row .col-md-3:hover:nth-child(1) {
    background: var(--red);
}

.pelayanan .container .row .col-md-3:hover:nth-child(2) {
    background: var(--blue);
}

.pelayanan .container .row .col-md-3:hover:nth-child(3) {
    background: #EAB308;
}

.pelayanan .container .row .col-md-3:hover:nth-child(4) {
    background: var(--fuchsia);
}

.pelayanan .container .row .col-md-3:hover:nth-child(5) {
    background: var(--orange);
}

.pelayanan .container .row .col-md-3:hover:nth-child(6) {
    background: var(--emarald);
}

.pelayanan .container .row .col-md-3:hover:nth-child(7) {
    background: #8B5CF6;
}

.pelayanan .container .row .col-md-3:hover:nth-child(8) {
    background: var(--green);
}

.pelayanan .container .row .col-md-3 .row .col-md-4 svg {
    height: 40px;
    width: 40px;
    fill: black;
}

.pelayanan .container .row .col-md-3:hover .row .col-md-4 svg {
    fill: white;
}

.testimoni {
    background: linear-gradient(90deg, var(--rose), var(--orange));
    color: white;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.testimoni .container .row .col-md-3 {
    padding: 1.5rem;
    background: rgba(0, 0, 0, .1);
    border-radius: 10px;
}

.testimoni .container .row .col-md-3:hover {
    background: #010615;
    transition: .5s ease-in-out;
    border-radius: 0px;
    transform: translateY(-10px);
    box-shadow: 10px 20px 5px rgba(0, 0, 0, .1);
}

.testimoni .container .row .col-md-3 .box .glass {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    display: block;
    background: rgba(255, 255, 255, .1);
}

.testimoni .container .row .col-md-3:hover .box .glass{
    width: 100%;
    transition: 1s ease-in-out;
}

.testimoni .container .row .col-md-3 .box .content svg {
    height: 150px;
    width: 150px;
    fill: white;
}

.m-2 {
    margin: 10px;
}

.m-3 {
    margin: 1.5rem;
}

.mt-5 {
    margin-top: 3rem;
}

.my-5 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.my-5 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.mb-5 {
    margin-bottom: 3rem;
}

.p-3 {
    padding: 1.5rem;
}

.p-5 {
    padding: 3rem;
}

.pt-5 {
    padding-top: 3rem;
}

.py-5 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.product .container .row .col-md-3 {
    border-radius: 10px;
}

.product .container .row .col-md-3:hover:nth-child(1) {
    background: var(--red);
    color: white;
}

.product .container .row .col-md-3:hover:nth-child(2) {
    background: var(--emarald);
    color: white;
}

.product .container .row .col-md-3:hover:nth-child(3) {
    background: var(--indigo);
    color: white;
}

.contact {
    background-image: url('../images/bg/bg-2.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.contact .container .row#row {
    height: 100vh;
    color: white;
    flex-direction: column;
}

.contact .container .row .col-md-6 hr{
    margin-top: 10px;
    margin-bottom: 10px;
}

.site-error {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    transition: 1s ease-in-out;
    background: #010615;
    border-radius: 10px;
    color: #fff;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .2);
    padding: 50px;
    margin-top: -70px;
    padding-bottom: 30px;
}

.site-error .glass {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    background: rgba(255, 255, 255, .1);
    z-index: 0;
    margin-top: -70px;
}

.site-error:hover .glass {
    width: 100%;
    transition: .5s;
}

.site-error h1{
    font-size: 3.5rem;
}

.site-error p {
    margin: 10px;
}

.site-error .alert {
    width: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
    background: var(--red);
    color: white;
    font-size: 2rem;
    text-transform: capitalize;
    letter-spacing: 5px;
    border-radius: 10px;
    border: 1px solid white;
}

.site-error a {
    color: white;
    background: var(--lime);
    padding: 10px;
    border: 1px solid white;
    text-decoration: none;
    z-index: 999;
}

.site-error a:hover {
    background: white;
    color: black;
    transition: .4s ease-in-out;
    transform: translateY(-5px);
    border-color: black;
}

@media (max-width: 992px) {
    .pembangunan .container .row .col-md-3 {
        width: 50%;
    }

    .pelayanan .container .row .col-md-3 {
        width: 50%;
    }

    .site-login .container .row .col-md-4,
    .site-signup .container .row .col-md-4,
    .site-reset-password .container .row .col-md-4,
    .container .site-resend-verification-email .row .col-md-4,
    .container .site-request-password-reset .row .col-md-4 {
        width: 50%;
    }

    .product .container .row .col-md-3 {
        width: 50%;
    }

    .site-error .alert {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .pembangunan .container .row .col-md-3 {
        width: 90%;
    }

    .pelayanan .container .row .col-md-3 {
        width: 90%;
        justify-content: center;
    }

    .site-login .container .row .col-md-4,
    .site-signup .container .row .col-md-4,
    .site-reset-password .container .row .col-md-4,
    .container .site-resend-verification-email .row .col-md-4,
    .container .site-request-password-reset .row .col-md-4{
        width: 90%;
    }

    .product .container .row .col-md-3 {
        width: 90%;
    }

    .site-error .alert {
        width: 90%;
    }
}

.bg-cyan {
    color: white;
}

.rounded-1 {
    border-radius: 10px;
}